@import "tailwindcss";

@theme {
  --color-primary: #b900f3;
  --color-secondary: #16161a;
  --color-accent: #5bbad5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #111827;
}

.separator {
  width: 5rem;
  height: 0.25rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.container-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.background-1 {
  background: linear-gradient(
    to bottom right,
    var(--color-primary),
    #7e22ce,
    var(--color-accent)
  );
}

.background-2 {
  background-color: #f9fafb;
}
